<!-- searchapp/templates/search.html -->
{% load static %}
<html>
<head>
    <title>博客搜索引擎Blog</title>
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- 确保已经加载了jQuery -->
</head>

<body>
    <!-- 搜索表单，让用户可以重新搜索 -->
    <form method="get" action="{% url 'search_results' %}">
        <input type="text" name="q" placeholder="Search..." value="{{ query }}">
        <select name="type">
            <option value="standard" {% if query_type == "standard" %}selected{% endif %}>站内查询</option>
            <option value="phrase" {% if query_type == "phrase" %}selected{% endif %}>短语查询</option>
            <option value="wildcard" {% if query_type == "wildcard" %}selected{% endif %}>通配查询</option>
        </select>
        <!-- 新增排序方式选择 -->
        <!-- 在 search.html 模板中 -->
        <select name="sort_method">
            <option value="personalize_search" {% if sort_method == "personalize_search" %}selected{% endif %}>个性化查询</option>
            <option value="pagerank_only" {% if sort_method == "pagerank_only" %}selected{% endif %}>仅PageRank</option>
        </select>
        <button type="submit">查询</button>
    </form>
    <!-- 添加查看查询日志的链接 -->
    <a href="{% url 'view_search_logs' %}">查看查询日志</a>
</body>

</html>