<!-- searchapp/templates/search.html -->
{% load static %}
{% load my_filters %}
<html>
<head>
    <title>博客搜索引擎Blog</title>
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- 确保已经加载了jQuery -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}">
</head>

<body>
    <div class="header">
        <!-- 搜索表单，让用户可以重新搜索 -->
        <div class="search-form">
            <form method="get" action="{% url 'search_results' %}">
                <input type="text" name="q" placeholder="Search..." value="{{ query }}">
                <select name="type">
                    <option value="standard" {% if query_type == "standard" %}selected{% endif %}>站内查询</option>
                    <option value="phrase" {% if query_type == "phrase" %}selected{% endif %}>短语查询</option>
                    <option value="wildcard" {% if query_type == "wildcard" %}selected{% endif %}>通配查询</option>
                </select>
                <!-- 新增排序方式选择 -->
                <select name="sort_method">
                    <option value="personalize_search" {% if sort_method == "personalize_search" %}selected{% endif %}>个性化查询</option>
                    <option value="pagerank_only" {% if sort_method == "pagerank_only" %}selected{% endif %}>仅PageRank</option>
                </select>
                <button type="submit">查询</button>
            </form>
        </div>
        <!-- 添加查看查询日志的链接 -->
        <a href="{% url 'view_search_logs' %}" class="search-log-link">查看查询日志</a>
    </div>
    <!-- 推荐文章区域 -->
    <div class="recommendations">
        <h2>也许你感兴趣～</h2>
        <ul>
            {% for url in recommendations %}
                <li class="recommend-Item">
                    <!-- 使用 url_to_title 字典来显示标题，如果字典中没有标题，则显示 URL -->
                    <a href="{{ url }}" onclick="recordClick('{{ url }}');" target="_blank">
                        {{ url_to_title|get_item:url|default:url }}
                    </a>
                </li>
            {% empty %}
                <li>暂无推荐</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>

</html>